body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #f0f0f0;
    overflow: hidden;
  }
  
  .container {
    max-width: 1000px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
  }

  @media (max-width: 768px) {
    .container {
      padding: 1rem;
      flex-direction: column;
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .logo {
    height: 60px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .form-group{
    display: flex;
  }
  .form-group label{
    width: 9.375rem;
    margin-right: 1rem;
  }
  .form-group input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  input{
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5);
  }
  #name:focus, #email:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255,0,0,.5);
  }
  label{
    font-weight: bold;
  }
  
  button {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #summaryWrapper {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  #qrcode {
    display: none;
    width: 12.5rem;
    height: 12.5rem;
    border: 3px solid white;
    border-radius: 5px;
    margin-top: 4vh;
  }
  
  #logo {
    display: block;
    width: 8.8125vw;
  }

  .personal-infos {
    flex: 1;
    margin-top: 23vh;
  }

  .globe-section {
    flex: 1;
  }

  #formulaire{
    background-color: #e3e2de;
    border-radius: 15px;
    height: 92vh;
  }

  #summary-infos {
    display: block;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: #084063;
    height: 89%;
  }
  .qr-card {
    display: flex;
    justify-content: center;  /* Horizontally center */
  }

  .logo-and-infos {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-and-infos img{
    object-fit: cover;
    margin-left: auto;
  }

  #bouton {
    background-color:  #084063;
  }
  #download-qr-code {
    background-color:  #084063;
    float: right;
    display: none;
    margin-top: 9px;
  }
  #globe {
    display: block;
    margin-top: 23vh;
  }

  .infos-section{
    display: flex; /* Enable Flexbox */
    justify-content: space-between; /* Optional: Space out the divs */
    gap: 20px; /* Space between the divs */
  }

  .globe-section {
    flex: 1;
  }


  .globe-section img{
    width: 100%; /* Make the image responsive */
    height: auto;
    border-bottom-right-radius: 15px;
    margin-left: 1.65vw;
    margin-top: 12.6vh;
  }

  #country, #address {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5);
  }

  .summary p,
  .summary a,
  .summary h3   {
    color: white;
    margin-bottom: 4px;
  }

  .add-red-star::after  {
    content: " *";
    color: red;
    font-weight: bold;
  }


  .notification {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: none;
    font-size: 0.75rem;
  }

  .success{
    background-color: #198754;
    color: white;
  }

  .error{
    background-color: #f44336;
    color: white;
  }

  #toast.show{
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 768px){
    #notification {
      min-width: 200px;
    }
  }

#website, #linkedIn {
  width: -webkit-fill-available;
  margin-right: 1.3vh;
}
